extends layout

block content
  section.container.mt-5
    h2 About Us
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mauris ac nisi ultrices fermentum. Integer et neque at libero euismod commodo ut sit amet nunc.
