extends layout

block content
  section.container.mt-5
    h1.display-4 Welcome to Vinz School Portal
    p.lead Vinz school is a school management portal. Proin nec mauris ac nisi ultrices fermentum.

  section.container.mt-5.mb-5
    h2 Our Courses
    .row
      .col-md-4
        .card.mb-4
          img.card-img-top(src="https://via.placeholder.com/300", alt="Course Image")
          .card-body
            h5.card-title Math
            p.card-text Some description about the Math course.
      .col-md-4
        .card.mb-4
          img.card-img-top(src="https://via.placeholder.com/300", alt="Course Image")
          .card-body
            h5.card-title Science
            p.card-text Some description about the Science course.
      .col-md-4
        .card.mb-4
          img.card-img-top(src="https://via.placeholder.com/300", alt="Course Image")
          .card-body
            h5.card-title Literature
            p.card-text Some description about the Literature course.

